<?php if (empty($this->address)): ?>
    <h2>Nenhum Usuário logado</h2>
<?php
else:
    $user = $this->user;
    $address = $this->address;
    ?>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">

                <!--**Partial - Dados Pessoais**-->
                <?php $this->partial()->setObjectKey('info');
                echo $this->partial('partial/perfil/user-info.phtml', $user); ?>
                <!--**FIM Partial -Dados Pessoais**-->

                <div class="col-md-9 column">
                    <div class="text-right">
                        <a href=""
                           type="button"
                           class="btn btn-info btn-sm">Novo
                        </a>
                    </div>
                    <br/>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-info">
                                Algo
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                LiSTA
                            </div>
                        </div>
                        <div class="panel-footer">
                            Informações
                        </div>
                    </div>

                <?php if(count($address) == 1): ?>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Endereço
                            </h3>
                        </div>
                        <div class="panel-body">
                                <!--**Partial - Addres user**-->
                                <?php $this->partial()->setObjectKey('address');
                                echo $this->partial('partial/perfil/user-one-address.phtml', $address[0]); ?>
                                <!--**FIM Partial - Address user**-->
                        </div>
                        <div class="panel-footer">
                            <div class="alert alert-warning" role="alert">
                                <strong>Atenção!</strong>
                                Se o seu endereço para <b>entrega</b> é diferente da fatura do cartão de crédito.
                                <br />Clique em <b>Adicionar Endereço para Entrega</b>.
                            </div>
                            <a class="btn btn-info" href="<?php echo $this->url($this->route . '/address',
                                array('controller' => $this->controller,
                                    'action' => 'edit',
                                    'id' => $address[0]->getId()
                                )); ?>">Alterar</a>

                            <a class="btn btn-info" href="<?php echo $this->url($this->route . '/address',
                                array('controller' => $this->controller,
                                    'action' => 'add')); ?>">Adicionar Endereço para Entrega</a>
                        </div>
                    </div>
                <?php endif; ?>
                <?php if(count($address) == 2): ?>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Endereço
                            </h3>
                        </div>
                        <div class="panel-body">

                                <!--**Partial - Addres user**-->
                                <?php $this->partialLoop()->setObjectKey('address');
                                echo $this->partialLoop('partial/perfil/user-two-address.phtml', $address); ?>
                                <!--**FIM Partial - Address user**-->

                        </div>
                        <div class="panel-footer">
                            <div class="alert alert-warning" role="alert">
                                <strong>Atenção!</strong>
                                O seu endereço <b>pessoal</b> deve ser o mesmo da fatura do cartão de crédito.
                            </div>
                        </div>
                    </div>
                <?php endif; ?>

                </div>
            </div>
        </div>
    </div>
<?php endif ?>