<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Limpeza Fácil')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;Limpeza Fácil</a>
                </div>
                <div class="collapse navbar-collapse">
                    <?php
                    $navigation = $this->navigation('admin_nav');
                        if(!$this->userIdentity())
                            echo $this->navigation('home_nav')
                                ->menu()
                                ->setUlClass('nav navbar-nav');
                        else
                            echo $this->navigation('admin_nav')
                                ->menu()
                                ->setUlClass('nav navbar-nav')
                                ->setMaxDepth(1)
                                ->setPartial(array('partial/nav.phtml', 'Application'))
                    ?>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <?php echo $this->message(); ?>

            <?php
                if($this->userIdentity())
                    echo $navigation
                        ->breadcrumbs()
                        ->setMinDepth(0)
                        ->setPartial('partial/breadcrumb.phtml');
            ?>
            <?php echo $this->content; ?>
            <hr>
            <footer>
                <p>
                    &copy; <?php echo date('Y') > '2014' ? '2014 - ' : '';echo date('Y'); ?> LimpezaFacil.com
                    <?php echo $this->translate('All rights reserved.') ?>
                </p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
