<script type="text/javascript">
    $(document).ready(function(){
        /*Altera nav.php*/
        $("#logo, .menu-func, .menu-vant").attr("style", "display:none")
        $(".btn-confira button").click(function(){
            window.location.replace('loja.php');
        });

    });
</script>
<div class="content">
    <div class="top text-center">
        <a class="logo" href="#">
        </a>
        <h1>+ tempo Livre</h1>
        <h2>Não gaste seu tempo livre comprando produtos de limpeza</h2>
    </div>
    <div class="text-center btn-confira">
        <button class="waves-effect waves-button waves-light waves-float btn">
            Confira
        </button>
    </div>
    <div class="box text-center">
        <div class="box-title">
            <div class="line-separator-choose"></div>
            <h3 class="choose-title">Como funciona?</h3>
        </div>
        <div class="box-img">
            <i class="como-funciona-index1 func-img"></i>
            <p><b>Escolha</b> os produtos que você precisa.</p>
        </div>
        <div class="box-img">
            <i class="como-funciona-index2 func-img"></i>
            <p><b>Marque</b> a data e o horário da entrega.</p>
        </div>
        <div class="box-img">
            <i class="como-funciona-index3 func-img"></i>
            <p><b>Aproveite!</b> Avisaremos antes da próxima entrega.</p>
        </div>
    </div>
    <div class="box text-center">
        <div class="box-title">
            <div class="line-separator-choose"></div>
            <h3 class="choose-title">Por que escolher Limpeza Fácil?</h3>
        </div>
        <div class="box-txt">
            <i class="certo"></i>
            <p>Terá mais tempo pra ficar com quem você gosta.</p>
            <i class="certo"></i>
            <p>Cancele a sua assinatura quando quiser.</p>
        </div>
        <div class="box-txt">
            <i class="certo"></i>
            <p>Ajuda você a passar menos tempo em supermercados.</p>
            <i class="certo"></i>
            <p>Compra 100% segura.</p>
            <p>
        </div>
    </div>
    <div class="box text-center">
        <div class="box-title">
            <div class="line-separator-choose"></div>
            <h3 class="choose-title">O que vendemos?</h3>
        </div>
        <div class="box-img">
            <div>
                <i class="baldes vend-img"></i>
                <h4>Baldes e Bacias</h4>
            </div>
            <div>
                <i class="esponjas vend-img"></i>
                <h4>Esponjas</h4>
            </div>
        </div>
        <div class="box-img">
            <div>
                <i class="sua-roupa vend-img"></i>
                <h4>Para sua Roupa</h4>
            </div>
            <div>
                <i class="vass-rod vend-img"></i>
                <h4>Vassouras e rodos</h4>
            </div>
        </div>
        <div class="box-img">
            <div>
                <i class="sua-casa vend-img"></i>
                <h4>Para sua casa</h4>
            </div>
            <div>
                <i class="luvas vend-img"></i>
                <h4>Luvas</h4>
            </div>
        </div>
    </div>
    <div class="text-center btn-confira">
        <button class="waves-effect waves-button waves-light waves-float btn">
            Confira
        </button>
    </div>
</div>