<?php echo $this->doctype('XHTML1_TRANSITIONAL'); ?>

<html>
    <head>
        <?php $this->headMeta()->appendHttpEquiv('Content-Type', 'text/html; charset=utf-8')->appendHttpEquiv('Content-Language', 'pt-BR'); ?>

        <?php echo $this->headTitle('Limpeza Fácil')->setAutoEscape(false); ?>
        <?php echo $this->headMeta()->appendName('keywords', 'limpeza, produtos de limpeza, higiende, compra, venda, gurupi, tocantins'); ?>

        <!-- Le styles -->
        <?php echo $this->headLink()
            ->appendStylesheet($this->basePath() . '/home/css/waves.css')
            ->appendStylesheet($this->basePath() . '/home/css/sprites.css')
            ->appendStylesheet($this->basePath() . '/home/css/style.css')
            ->appendStylesheet('http://fonts.googleapis.com/css?family=Open+Sans')?>


        <!-- Scripts -->
        <?php echo $this->headScript()
            ->appendFile($this->basePath() . '/home/js/waves.js')
            ->appendFile($this->basePath() . '/home/js/jquery.min.js')
            ->appendFile($this->basePath() . '/home/js/jquery.livequery.js') ?>

    </head>
    <body>

        <!--  top-menu ** -->
        <?php echo $this->partial('layout/home/nav');?>

        <div class="container">
            <!-- *** content *** -->
            <?php echo $this->partial('layout/home/content');?>

        </div>

        <!-- *** Footer *** -->
        <?php echo $this->partial('layout/home/footer');?>
    <!-- /container -->
    <?php echo $this->inlineScript() ?>
    </body>
</html>
