<div id="dialog1" class="window">
    <div class="d-header">
        <input type="text" name="email"  placeholder="Email" /><br/>
        <input type="password" name="passwd" placeholder="Senha" />
    </div>
    <a href="#">Esqueci a senha</a>
    <button
        onclick="javascript:verifyLogin(this.form);"
        id="sub-login"
        class="waves-effect waves-button waves-light waves-float"
        style="background: white;color: #3B80FD;">
        Entrar
    </button>
</div>


<script type="text/javascript">
    function verifyLogin(frm)
    {
        var data = $(frm).serialize();
        $.ajax({
            type: "POST",
            url: "<?php echo $this->url('home') ?>",
            data: data,
            success: function(resp){
                alert(resp.status);
            },
            error: function(resp){
            },
            dataType: 'json'
        });
    }
</script>
