<!-- Modal auth -->
<div id="boxes">

    <!-- Login -->
<!--    --><?php //echo $this->partial('layout/home/login');?>

    <!-- Modal Produtos -->
    <div id="dialog" class="window">
        <a href="#" class="close fa-trash"></a>
        <div id="md-produtos">
            <ul>
                <li id="8" class="produto">
                    <div id="bd-md-produtos">

                        <img width="120" src="" alt="Limpeza Fácil" />
                        <div id="md-name-price-prod">
                            <span class="name-prod title-md-prod">IPhone 4GS </span>
                            <div class="mod-prod-text">
                                <p>
                                </p>
                            </div>
                            <div id="md-price-prod" class="price-top">
                                <b> R$ </b><span class="price">800,00</span>
                            </div>
                        </div>
                        <input type="hidden" value="Mac Muito bom - Mac Qualidades- Muitas Qualidades" />
                    </div>
                    <button class="waves-effect waves-button waves-light waves-float btn btn-md-prod">Adicionar</button>
                </li>
            </ul>
        </div>
    </div><!-- FIm Modal Produtos -->

    <div id="mask"></div>
</div><!-- *Fim Modal* -->

<script type="text/javascript">
    $(document).ready(function() {
        $('div[name=modal]').click(function(e) {
            e.preventDefault();

            var id = $(this).attr('ident');
            var maskHeight = $(document).height();
            var maskWidth = $(window).width();
            if(id == "#dialog1") {
                $('#mask').css({'width':maskWidth,'height':maskHeight});

                $('#mask').fadeIn(200);
                $('#mask').fadeTo("slow",0.8);
            }else {
                $('#mask').css({'width':maskWidth,'height':maskHeight});
                $('#mask').fadeTo("slow",0);
            }
            //Get the window height and width
            var winH = $(window).height();
            var winW = $(window).width();

            $(id).css('top',  winH/2-$(id).height()/2);
            $(id).css('left', winW/2-$(id).width()/2);

            $(id).fadeIn(200);
        });
        $('.window .close').click(function (e) {
            e.preventDefault();

            $('#mask').hide();
            $('.window').hide();
        });
        $('#mask').click(function () {
            $(this).hide();
            $('.window').hide();
        });
        $(document).keyup(function(e) {
            if (e.keyCode == 27) {
                $('#mask').hide();
                $('.window').hide();
            }
        });
    });
</script>