<div class="nav">
    <div class="container container-top">
        <ul>
            <li id="logo">
                <a class="logo" href="<?php echo $this->url('home') ?>" style="display: block;">
                </a>
            </li>
            <li class="menu-func text-center"><div class="menu-center border-menu">Como funciona</div>
                <ul id="menu-como-func">
                    <li>
                        <div class="como-funciona1"></div>
                        <p><b>Escolha</b> os produtos que você precisa.</p>
                    </li>
                    <li>
                        <div class="como-funciona2"></div>
                        <p><b>Marque</b> a data e o horário da entrega.</p>
                    </li>
                    <li>
                        <div class="como-funciona3"></div>
                        <p><b>Aproveite!</b> Avisaremos antes da próxima entrega.</p>
                    </li>
                </ul>
            </li>
            <li class="menu-vant"><div class="menu-center border-menu">Vantagens</div>
                <ul>
                    <li>
                        <h1 class="text-center">Satisfação Garantida</h1>
                        <p>Quer trocar algum produto?</p>
                        <p>Ficou insatisfeito com algo?</p>
                        <br />
                        <p>Fale conosco, que nós resolvemos.</p>
                        <p>Nosso compromisso á deixá-lo satisfeito!</p>
                        <h1 class="text-center" style="clear: both;">E mais!</h1>

                        <i class="fa-ok"></i><p>Cancele a assinatura quando quiser.</p>
                        <i class="fa-ok"></i><p>Altere os produtos da próxima entrega.</p>
                        <i class="fa-ok"></i><p>Adiante ou atrase a próxima entrega.</p>
                    </li>

                </ul>
            </li>
            <li id="auth">
                <?php if(! $this->userIdentity()): ?>
                    <a id="ancor" class="menu-center" href=" <?php echo $this->url('user-auth') ?>">
                        Entrar
                        <i class="fa-user"></i>
                    </a>
                <?php endif; ?>
                <?php if($this->userIdentity()): ?>
                    <a id="ancor" class="menu-center" href=" <?php echo $this->url('user-perfil') ?>">
                        Perfil
                        <i class="fa-user"></i>
                    </a>
                <?php endif; ?>
            </li>
        </ul>
    </div>
</div>

<?php echo $this->partial('layout/home/modal');?>

<script type="text/javascript">
    Waves.displayEffect();
    $(document).ready(function(){
        $('.nav li').hover(
            function(){
                $('ul', this).fadeIn();
            },
            function(){
                $('ul', this).fadeOut();
            }
        );

    });
</script>