<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Detalhes</h3>
        </div>
    </div>
    <?php
        $data = $this->detail;
        $store = $this->store;
    ?>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Cadastrado em:</dt>
            <dd><?php echo $this->escapeHtml($data->getCreatedAt()->format('d/m/Y H:i:s')); ?></dd>
            <dt>Atualizado em:</dt>
            <dd><?php echo $this->escapeHtml($data->getUpdatedAt()->format('d/m/Y H:i:s')); ?></dd>
            <dt>Status:</dt>
            <dd>
                <?php
                $status = $data->getStatus() == true ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                echo $status;
                ?>
            </dd>
            <dt>Cadastrado por:</dt>
            <dd>
                <span class="label label-default"><?php echo $this->escapeHtml($data->getUser()->getName()); ?></span>
            </dd>
            <dt>Nome do produto:</dt>
            <dd><?php echo $this->escapeHtml($data->getName()); ?></dd>
            <dt>Descrição do produto:</dt>
            <dd><?php echo $this->escapeHtml($data->getDescription()); ?></dd>
            <dt>Categoria:</dt>
            <dd><?php echo $this->escapeHtml($data->getCategoria()->getName()); ?></dd>
            <dt>Unidade:</dt>
            <dd><?php echo $this->escapeHtml($data->getQtdeUnity() . ' ' . $data->getUnidade()->getName()) ; ?></dd>
            <dt>Tipo:</dt>
            <dd><?php echo $this->escapeHtml($data->getTipo()->getName()); ?></dd>
            <dt>Custo:</dt>
            <dd><?php echo $this->escapeHtml($data->getCusto()); ?></dd>
            <dt>Margem de Lucro (%):</dt>
            <dd><?php echo $this->escapeHtml($data->getPercent()); ?></dd>
            <dt>Preço de venda:</dt>
            <dd><?php echo $this->escapeHtml($data->getSalePrice()); ?></dd>
            <dt>Estoque:</dt>
            <dd>
            <?php   if(!isset($store)): ?>
                <span class="label label-info">0</span>

                <a class="btn btn-info btn-xs" href="<?php echo $this->url('store',
                    array('controller' => 'estoque',
                        'action' => 'produto',
                        'id' => $data->getId())); ?>" >Add</a>
             <?php else: ?>
                <span class="label label-info"><?php echo $this->escapeHtml($store->getQtde()); ?></span>

                <a class="btn btn-info btn-xs" href="<?php echo $this->url('store',
                    array('controller' => 'estoque',
                        'action' => 'edit',
                        'id' => $store->getId())); ?>" >Add</a>
             <?php endif; ?>
            </dd>
        </dl>
    </div>
    <div class="panel-footer">
        <a href="<?php
        echo $this->url($this->route,
            array('controller' => $this->controller,
                'action' => 'edit',
                'id' => $data->getUser()->getId())); ?>"
           class="btn btn-warning btn-sm">
            Editar
        </a>
        <a href="<?php echo $this->url($this->route, array('controller' => $this->controller)); ?>" class="btn btn-default btn-sm">Voltar</a>
    </div>
</div>