<p>
    <a class="btn btn-info" href="<?php echo $this->url($this->route,
        array('controller' => $this->controller,
            'action' => 'add')); ?>">Novo</a>
</p>
<?php if (empty($this->list)): ?>

    <h2>Sem informações no momento!</h2>

<?php else: ?>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome-Prod</th>
        <th>Custo</th>
        <th>Margem-Lucro</th>
        <th>Preço de Venda</th>
        <th>STATUS</th>
        <th>Categoria</th>
        <th>Unidade</th>
        <th>Tipo</th>
        <th>Ação</th>
    </tr>

    <?php foreach ($this->list as $entity): ?>
        <tr>

            <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getName()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getCusto()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getPercent()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getSalePrice()); ?></td>
            <td>
                <?php
                $status = $entity->getStatus() ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                echo $status;
                ?>
            </td>
            <td><?php echo $this->escapeHtml($entity->getCategoria()->getName()); ?></td>
            <td>
                <?php
                    echo $this->escapeHtml($entity->getQtdeUnity()) . ' ';
                    echo $this->escapeHtml($entity->getUnidade()->getShortName());
                ?>
            </td>
            <td><?php echo $this->escapeHtml($entity->getTipo()->getName()); ?></td>
            <td>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller'=> $this->controller,
                        'action'=>'detail',
                        'id'=>$entity->getId()));
                ?>">Detalhes</a>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'edit',
                        'id' => $entity->getId()));
                ?>">Editar</a>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'delete',
                        'id' => $entity->getId()));
                ?>">Delete</a>

                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'enable',
                        'id' => $entity->getId()));
                ?>">Ativar</a>

                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'disable',
                        'id' => $entity->getId()));
                ?>">Desativar</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>