<p>
    <a class="btn btn-info" href="<?php echo $this->url($this->route,
        array('controller' => $this->controller,
            'action'=> 'add')); ?>">Novo
    </a>
</p>
<?php if (empty($this->list)): ?>
    <h2>Sem informações no momento!</h2>
<?php else: ?>
<table class="table">
    <tr>
        <th>ID</th>
        
        <th>Papél</th>
        <th>Privilégio</th>
        <th>Recurso</th>
        <th>Ação</th>
    </tr>
    
    <?php foreach($this->list as $entity): ?>
    <tr>
        <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
        
        <td><?php echo $this->escapeHtml($entity->getRole()->getName()); ?></td>
        <td><?php echo $this->escapeHtml($entity->getName()); ?></td>
        <td><?php echo $this->escapeHtml($entity->getResource()->getName()); ?></td>
        
        <td>
            <a href="<?php echo $this->url($this->route,
                    array('controller'=> $this->controller,'action'=>'edit','id'=>$entity->getId())); ?>">Editar</a>
            <a href="<?php echo $this->url($this->route,
                    array('controller' => $this->controller,'action'=>'delete','id'=>$entity->getId())); ?>">Deletar</a>
        </td>
    </tr>
    <?php endforeach; ?>
    
</table>
<br />
<?php endif; ?>
<?php //echo $this->paginationControl($this->data,'Sliding','partials/paginator'); ?>
