Olá <?php echo $this->nome; ?>
<br />
<br />
Esse email tem o objetivo de confirmar o seu cadastro no sistemas
Para ativar sua conta clique <a href="<?php
    echo $this->url('user-activate',
    array('key' => $this->activationKey)) ?>">
    aqui</a>