<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Detalhes</h3>
        </div>
    </div>
    <?php $data = $this->detail; ?>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Cadastrado em:</dt>
            <dd><?php echo $this->escapeHtml($data->getUser()->getCreatedAt()->format('d/m/Y H:i:s')); ?></dd>
            <dt>Atualizado em:</dt>
            <dd><?php echo $this->escapeHtml($data->getUser()->getUpdatedAt()->format('d/m/Y H:i:s')); ?></dd>
            <dt>Status:</dt>
            <dd>
                <?php
                $status = $data->getUser()->getStatus() == true ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                echo $status;
                ?>
            </dd>
            <dt>Perfil:</dt>
            <dd>
                <span class="label label-default"><?php echo $this->escapeHtml($data->getUser()->getPerfil()); ?></span>
            </dd>
            <dt>Name:</dt>
            <dd><?php echo $this->escapeHtml($data->getUser()->getName()); ?></dd>
            <dt>Email:</dt>
            <dd><?php echo $this->escapeHtml($data->getUser()->getEmail()); ?></dd>
            <dt>Cpf:</dt>
            <dd><?php echo $this->escapeHtml($data->getUser()->getCpf()); ?></dd>
            <dt>Celular:</dt>
            <dd>
                <?php
                $celular = $data->getUser()->getCelular();
                $operadora = $data->getUser()->getOperadora();
                echo $operadora . ': ' . $celular;
                ?>
            </dd>
            <dt>Fixo:</dt>
            <dd><?php echo $this->escapeHtml($data->getUser()->getFixo()); ?></dd>
            <dt>Endereço:</dt>
            <dd>
                <?php
                $logradouro = $data->getLogradouro();
                $numero = $data->getNumero();
                $complemento = $data->getComplemento();
                $bairro = $data->getBairro();

                echo $this->escapeHtml($logradouro . ', ' . $numero . ', ' . $complemento . ', ' . $bairro . '.');
                ?>
            </dd>
            <dt>CEP:</dt>
            <dd><?php echo $this->escapeHtml($data->getCep()); ?></dd>
            <dt>Cidade:</dt>
            <dd>
                <?php
                echo $this->escapeHtml($data->getCidade() . '-' .
                    $data->getEstado() . ', ' .
                    $data->getPais());
                ?>

            </dd>
        </dl>
    </div>
    <div class="panel-footer">
        <a href="<?php
        echo $this->url($this->route,
            array('controller' => $this->controller,
                'action' => 'edit',
                'id' => $data->getUser()->getId())); ?>"
           class="btn btn-warning btn-sm">
            Editar
        </a>
        <a href="<?php echo $this->url('user', array('controller' => $this->controller)); ?>" class="btn btn-default btn-sm">Voltar</a>
    </div>
</div>