<p>
    <a class="btn btn-info" href="<?php echo $this->url($this->route, array('controller' => $this->controller, 'action' => 'add')); ?>">Novo</a>
</p>
<?php if (empty($this->list)): ?>

    <h2>Sem informações no momento!</h2>

<?php else: ?>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>STATUS</th>
        <th>CPF</th>
        <th>OPERADORA</th>
        <th>CELULAR</th>
        <th>FIXO</th>
        <th>Ação</th>
    </tr>

    <?php foreach ($this->list as $entity): ?>
        <tr>

            <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getName()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getEmail()); ?></td>
            <td>
                <?php
                $status = $entity->getStatus() ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                echo $status;
                ?>
            </td>
            <td><?php echo $this->escapeHtml($entity->getCpf()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getOperadora()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getCelular()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getFixo()); ?></td>

            <td>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller'=> $this->controller,
                        'action'=>'detail',
                        'id'=>$entity->getId()));
                ?>">Detalhes</a>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'edit',
                        'id' => $entity->getId()));
                ?>">Editar</a>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'delete',
                        'id' => $entity->getId()));
                ?>">Delete</a>

                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'enable',
                        'id' => $entity->getId()));
                ?>">Ativar</a>

                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'disable',
                        'id' => $entity->getId()));
                ?>">Desativar</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>