<?php
$user = $this->info;
?>
<div class="col-md-3 column">
    <img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/">

    <h3 class="text-primary text-left"><?php echo $user->getName(); ?></h3>
    <hr />
    <address>
        <h4 class="text-left text-info">Dados Pessoais:</h4>
        <p class="text-muted text-left"><?php echo $user->getEmail(); ?></p>
        <h5 class="text-left text-info">Nascimento:</h5>
        <p class="text-muted text-left"><i>
                <?php
                $date = $this->dateFormat(
                    $user->getDataNascimento(),
                    IntlDateFormatter::LONG,
                    IntlDateFormatter::NONE,
                    "pt_BR"
                );
                echo $date;
                ?>
            </i>
        </p>
        <abbr class="text-left text-info" title="Telefone Celular">Cel. </abbr>
        <i class="text-muted"><?=$user->getCelular()?></i>
        <br />
        <abbr class="text-left text-info" title="Telefone Residencial">Fix. </abbr>
        <i class="text-muted"><?=$user->getFixo()?></i>
        <br />
        <h5 class="text-left text-info">Desde:</h5>
        <p class="text-muted text-left">
            <?php
            $date = $this->dateFormat(
                $user->getCreatedAt(),
                IntlDateFormatter::LONG,
                IntlDateFormatter::NONE,
                "pt_BR"
            );
            echo $date;
            ?>
        </p>
    </address>
    <a class="btn btn-info" href="<?php echo $this->url('user',
        array('controller' => 'user/default',
            'action' => 'edit',
            'id' => $user->getId())); ?>">Alterar</a>
</div>