<?php
$address = $this->address;
?>
<div class="col-md-6 column">
    <h3 class="text-left text-muted">

        <?php if (!$address->getIsEntrega()): ?>
            Pessoal
        <?php else: ?>
            Para Entrega
        <?php endif; ?>

    </h3>
    <ol class="list-unstyled">
        <li>
            Rua: <?php echo $this->escapeHtml($address->getLogradouro()); ?>
        </li>
        <li>
            Número: <?php echo $this->escapeHtml($address->getNumero()); ?>
        </li>
        <li>
            Complemento: <?php echo $this->escapeHtml($address->getComplemento()); ?>
        </li>
        <li>
            Bairro: <?php echo $this->escapeHtml($address->getBairro()); ?>
        </li>
        <li>
            Cep: <?php echo $this->escapeHtml($address->getCep()); ?>
        </li>
        <li>
            <?php
            echo $this->escapeHtml($address->getCidade()) . '-';
            echo $this->escapeHtml($address->getEstado()) . ', ';
            echo $this->escapeHtml($address->getPais()) . '.';

            ?>
        </li>
    </ol>
    <a class="btn btn-info" href="<?php echo $this->url('user-perfil/address',
        array('controller' => 'perfil',
            'action' => 'edit',
            'id' => $address->getId())); ?>">Alterar</a>
    <?php if ($address->getIsEntrega()): ?>
        <a class="btn btn-info" href="<?php echo $this->url('user-perfil/address',
            array('controller' => 'perfil',
                'action' => 'delete',
                'id' => $address->getId()
            )); ?>">Excluir</a>
    <?php endif; ?>
</div>