<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Detalhes</h3>
        </div>
    </div>
    <?php $data = $this->detail; ?>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Cadastrado em:</dt>
            <dd><?php echo $this->escapeHtml($data->getCreatedAt()->format('d/m/Y H:i:s')); ?></dd>
            <dt>Atualizado em:</dt>
            <dd><?php echo $this->escapeHtml($data->getUpdatedAt()->format('d/m/Y H:i:s')); ?></dd>
            <dt>Status:</dt>
            <dd>
                <?php
                $status = $data->getStatus() == true ? '<span class="label label-success">Ativo</span>' : '<span class="label label-danger">Inativo</span>';
                echo $status;
                ?>
            </dd>
            <dt>Name:</dt>
            <dd><?php echo $this->escapeHtml($data->getName()); ?></dd>
            <dt>Descrição:</dt>
            <dd><?php echo $this->escapeHtml($data->getDescription()); ?></dd>
        </dl>
    </div>
    <div class="panel-footer">
        <a href="<?php
        echo $this->url($this->route,
            array('controller' => $this->controller,
                'action' => 'edit',
                'id' => $data->getId())); ?>"
           class="btn btn-warning btn-sm">
            Editar
        </a>
        <a href="<?php echo $this->url($this->route, array('controller' => $this->controller)); ?>" class="btn btn-default btn-sm">Voltar</a>
    </div>
</div>