* {
	font-family: 'Open Sans', sans-serif, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}
.container {
	position: relative;
	width: 1170px;
	margin: 0 auto;
}

.content {
}

.text-center {
	text-align: center;
}
/** NAV **/
.container-top {
	height: 50px;
}

.nav {
	position: relative;
	background-color: #EDEDED;
	z-index: 1;
}

.nav ul {
	position: relative;
	height: 100%;
}

.nav ul li {
	float: left;
	padding: 0 20px;
	height: 100%;
}

.border-menu {
	padding: 0 5px;
	border-left: 1px solid #6890AA;
	border-right: 1px solid #6890AA;
}

.nav li ul {
	display: none;
}

.nav ul li {
	cursor: default;
	color: #3884b0;
}

.nav ul li:hover {
	cursor: default;
	color: #074E77;
}

.nav li ul {
	position: absolute;
	background-color: #EDEDED;
	top: 50px;
}

.menu-center {
	position: relative;
	top: 25%
}

#logo {
	position: relative;
	left: 20px;
}

/* Auth */

#ancor {
    position: absolute;
    text-decoration: none;
}

#auth {
	position: relative;
	right: 20px;
	float: right;
	cursor: pointer;
}

#menu-como-func {
	padding: 5px;
}

#menu-como-func li {
	width: 180px;
	padding: 5px;
}

#menu-como-func li div {
	position: relative;
	left: 10%;
}

.menu-func ul {
	height: 170px;
}

.menu-vant ul {
	height: 370px;
	width: 350px;
	padding: 0 10px;
}
.menu-vant h1 {
	font-size: 20px;
}
.menu-vant p {
	color: #9a9da4;
	display: block;
	padding: 2px 20px;
}

/** Fim Nav **/

/** Footer **/
.container-footer {
	height: 220px;
}

.footer {
	position: relative;
	background-color: #EDEDED;
	clear: both;
	top: 20px;
}

.box-footer {
	width: 22%;
	float: left;
	padding: 10px 0 0 35px;
}
.box-footer h2 {
	color: #96bed7;
	margin-bottom: 10px;
}
.box-footer h3 {
	color: #96bed7;
	margin-bottom: 10px;
}
.box-footer p {
	color: #233149;
	padding: 8px;
	height: 30px;
}
.box-footer div {
	float: left;	
}
#tel-contato {
	font-size: 24px;
}

/** Fim Footer **/

/** Login **/
#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#000;
    display:none;
}

#boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:200px;
    display:none;
    z-index:9999;
    padding:20px;
}

#boxes #dialog1 {
    width:460px;
    height:250px;
}

#dialog1 .d-header {
    background:url(../img/back-login.png) no-repeat 0 0 transparent;
    width:460px;
    height:250px;
    text-align: center;
}

#dialog1 .d-header input {
    position:relative;
    top:105px;
    left: 10px;
    border:3px solid #cccccc;
    height:22px;
    width:260px;
    font-size:15px;
    padding:5px;
    margin-top:4px;
}

#dialog1 a{
    bottom: 60px;
    font-size: 12px;
    left: 105px;
    position: relative;
}

/*#sub-login{
	position: relative;
	float: right;
	bottom: 50px;
	right: 40px;
	padding: 5px 10px;
}*/

#login-div {
    height: 300px;
    margin: 20px auto 0;
    padding-top: 110px;
    top: 50px;
    width: 50%;
}
.form-login {
    height: 26px;
    line-height: 20px;
    margin: 10px 0 0;
    padding: 5px;
    width: 80%;
}
#btn-div {
    margin-top: 10px;
    padding-left: 52px;
}

/***Fim Login***/
.container-prod, .container-cart {
	float: left;
}
/** Produtos **/
#prodModal {
	display: none;
}
.container-prod {
	width: 78%;
}
.title {
	color: #9a9da4;
	font-size:30px;
}
.box-category {
	position: relative;
	float: left;
	width: 16.5%;
}
#box-category {
	height: 170px;
}
#box-category h2{
	margin: 20px;
}
.box-category div{
	cursor: pointer;
	left: 25%;
    position: relative;
}
#box-prod ul li{
	margin-top: 15px;
	width: 25%;
	height: 230px;
	float: left;
	position: relative;
}
#box-prod ul li:hover {
	box-shadow: 2px 2px 5px #0076a3;
	-webkit-box-shadow: 5px 5px 10px #0076a3;
	-moz-box-shadow: 5px 5px 10px #0076a3;
}
.body-prod {
	padding-top: 10px;
	cursor: pointer;
}
.title-prod {
	color: #3884b0;
    position: relative;
    top: 10px;
}
.price-prod {
	bottom: 50px;
    color: #808285;
    font-size: 20px;
    position: absolute;
    width: 100%;
}

.btn{
	background-color: #1bb556;
    color: #fff;
}

.btn-prod {
	bottom: 8px;
    left: 30%;
    position: absolute;
}

/* Modal Produtos */
#boxes #dialog {
	width:630px; 
	height:320px;
	background-color:#ffffff;
	box-shadow: 2px 2px 5px #0076a3;
	-webkit-box-shadow: 5px 5px 10px #0076a3;
	-moz-box-shadow: 5px 5px 10px #0076a3;
}
.close{
	float: right;
    position: relative;
}
#md-name-price-prod {
	float: right;
    height: 190px;
    width: 70%;
}
.mod-prod-text span {
	display: block;
	color: #9b9da0;
	font-size: 18px;
}

.title-md-prod {
	display: block;
	font-size: 24px;
	font-weight: bold;
	color: #3884b0;
    padding: 5px 5px 5px 0;
    margin-bottom: 15px;
}
#md-price-prod {
    bottom: 0;
    color: #9b9da0;
    float: right;
    font-size: 20px;
    position: absolute;
    right: 42px;
}
.btn-md-prod {
	float: right;
    right: 40px;
}
#bd-md-produtos img {
	left: 25px;
    position: relative;
    top: 40px;
}
#md-produtos {
	height: 80%;
    margin-top: 25px;
    position: relative;
    width: 100%;
	}
#md-produtos ul, #md-produtos ul li, #bd-md-produtos {
	height: 100%;
}
/** Fim Produtos **/

/** Cart **/
.container-cart {
	width: 22%;
}
.borda-redonda {
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;
}
#cart {
	background-color: #EDEDED;
	left: 5px;
    padding: 5px;
    position: relative;
    margin-top: 85px;
}
#cart h2{
	color: #437de6;
}
.warning {
	background-color: #F4615F;
	color: white;
}
.shopp {
	position: relative;
	background-color: white; 
	padding-left: 5px;
	margin-bottom: 2px;
}

.nome-produto {
	color: #e4d100;
	font-size: 18px;
	width: 90%;
}
#price {
	color: #437de6;
	font-size: 18px;
}

.prod-descr {
	color: #a7c1ee;
	width: 90%;
	text-align: center;
}
#remove {
	cursor: pointer;
    position: absolute;
    right: 2px;
    top: 45%;
}
.cart-total {
	padding: 10px;
	font-size: 18px;
	color: #9B9DA0;
	border-bottom: 1px solid #a7c1ee;
}

.btn-cart {
	padding: 10px;
}

/** FIM Cart **/

/** Cadastro **/
.container-cadastro {
	float: right;
	width: 76%;
}

.panel-heading {
	background-color: #EDEDED;
	color: #437DE6;
	padding: 5px;
	clear:both;
}
.panel-body {
	padding: 10px;
	position: relative;
}
.btn-cadastro {
	float: right;
	font-size: 26px;
}
.form-group {
	float: left;
    padding: 10px;
    width: 46%;
    
}
.form-control {
	height: 26px;
    width: 100%;
    padding: 5px;
    line-height: 20px;
}

.many-input {
	float: left;
    width: 46%;
}
.right {
	float: right;
    position: relative;
    right: -10px;
}
.info-cart input{
	width: 35%;	
}
.info-cart img{
	display:none;
	padding-left: 10px;
    position: absolute;
    top: 10px;	
}

.form-group-radio {
	padding: 10px;
	width: 550px;
	height: 50px;
}
.form-radio {
	float: left;
    width: 48%;
    padding: 5px;
}
.form-control-radio {
	float: left;
    margin-top: 10px;
    position: relative;
}
.radio-img {
	position: relative;
	left: 18px;
}
#verso-cart-interroga{
	font-size: 22px;
	font-weight: bold;
	padding: 10px;
	background-color: #9B9B9B; 
}
/*Fim cadastro*/
/**Conteudo**/
.top a{
	display: block;
    left: 43%;
    position: relative;
}
.content h1, .content h3, .content b{
	color: #3884b0;
}
.content p, .content h2, .content h4{
	color: #9a9da4;
}
.content p, .content h4 {
	font-size: 24px;
	}
.btn-confira {
	padding: 20px;
	margin: 20px 0 20px 0;
}
.btn-confira button{
	font-size: 28px;
}
/*Title box*/
.line-separator-choose {
	border-bottom: 1px solid #A3A3A3; 
}
.choose-title {
	background-color: white;
    display: inline;
    font-size: 26px;
    padding: 0 20px;
    position: relative;
    top: -20px;
}
/***/
.box-img {
	width: 33.3%;
	float: left;
}
.box-txt {
	width: 50%;
	float: left;
}

.box {
	display: table;
	width: 100%;
}
.box-title {
	padding: 20px;
	margin: 20px;
}
.vend-img {
	position: relative;
	left: 38%;
}

.func-img {
	position: relative;
	left: 20%;
}
.box-txt i{
	float: left;
}
.box-txt p {
	text-align: left;
	padding: 0 0 30px 70px;
} 


