<?php if (empty($this->list)): ?>

    <h2>Sem informações no momento!</h2>

<?php else: ?>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Produto</th>
        <th>Qtde</th>
        <th>Criado em:</th>
        <th>Atualizado em:</th>
        <th>Ação</th>
    </tr>

    <?php foreach ($this->list as $entity): ?>
        <tr>
            <td><?php echo $this->escapeHtml($entity->getId()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getProduto()->getName()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getQtde()); ?></td>
            <td><?php echo $this->escapeHtml($entity->getCreatedAt()->format('d/m/Y H:i:s')); ?></td>
            <td><?php echo $this->escapeHtml($entity->getUpdatedAt()->format('d/m/Y H:i:s')); ?></td>
            <td>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'edit',
                        'id' => $entity->getId()));
                ?>">Editar</a>
                <a href="<?php
                echo $this->url($this->route,
                    array('controller' => $this->controller,
                        'action' => 'delete',
                        'id' => $entity->getId()));
                ?>">Delete</a>
            </td>
        </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>