<div id="login-div">
    <h3 class="text-center">Login</h3>
    <?php $form = $this->form;

    $form->setAttribute('action',$this->url('user-auth', array(
            'controller' => $this->controller,
            'action' => 'index'
        )));
    $form->prepare();
    echo $this->form()->openTag($form);?>

    <div class="text-center">
        <?php echo $this->formRow($form->get('email')); ?>
        <?php echo $this->formRow($form->get('passwd')); ?>
    </div>
    <div id="btn-div">
        <?php echo $this->formHidden($form->get('csrf')); ?>
        <?php echo $this->formSubmit($form->get('submit')); ?>
    </div>

    <?php echo $this->form()->closeTag(); ?>
</div>
